body {
  background-color: #F4F4F4;
}

.main-container{
  padding: 0 60px;
}

.progressBarContainer {
  margin: 30px 0;
}

.dashboard__welcome {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.document__number {
  font-size: 34px;
}

.dashboard__title {
  color: gray;
}

.dashboard__detail {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.top-cards {
  margin-top: -20px;
}

.dashboard__icon {
  margin-top: -40px;
  font-size: 3.8em;
}

.dashboard__quick-links {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.collection-header h4{
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 5px !important;
}

.collection-item a, .collection-item span {
  color: #555;
  font-size: 12px;
}

.search-card {
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
}

.card {
  display: block;
  &.card__top {
    margin-bottom: 0;
    border-radius: 2px 2px 0 0;
  }
  &.card__bottom {
    margin-top: 0;
    border-radius: 0 0 2px 2px;
  }
  .card-title {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }

  .card-content {
    color: gray;
    font-size: 13px;
    overflow: hidden;
  }

  .card-action {
    color: red !important;
    font-size: 14px;
    font-weight: 500;
  }

  .document__edit {
    color: gray !important;
  }

  .document__delete {
    font-size: 16px;
  }

  .document__title {
    height: 90px;
    padding-top: 20px;
    line-height: 1.6 !important;
    overflow: hidden;
    color: white;
    vertical-align: bottom;
    text-overflow: ellipsis;
  }

  .document__dated {
    margin-top: 15px;
    font-size: 11px;
    font-weight: bold;
  }
  .document__content{
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.top__space {
  margin-top: 50px !important;
}

.page-footer {
  margin-top: 150px;
}